<div class="game-container">
  <header>
    <img class="logo" src="/logo.svg" alt="logo" (click)="quitGame()" />
    <div class="turn-box">{{ currentPlayer }} TURN</div>
    <button (click)="openRestartModal()" class="restart">
      <img src="/icon-restart.svg" alt="restart" />
    </button>
  </header>

  <main
    [ngClass]="currentPlayer === 'X' ? 'x-turn' : 'o-turn'"
    [style.pointer-events]="
      isGameOver || showResultModal || showRestartModal ? 'none' : 'auto'
    "
  >
    @for (cell of board; track $index) {
      <div
        class="box"
        [class.occupied]="cell !== ''"
        (click)="makeMove($index)"
      >
        @if (cell === "X") {
          <img src="/icon-x.svg" alt="X" />
        } @else if (cell === "O") {
          <img src="/icon-o.svg" alt="O" />
        }
      </div>
    }
  </main>

  <footer>
    <div class="foot-box score-x">
      <p>{{ player1Name }}</p>
      <p>{{ xScore }}</p>
    </div>
    <div class="foot-box ties">
      <p>TIES</p>
      <p>{{ ties }}</p>
    </div>
    <div class="foot-box score-o">
      <p>{{ player2Name }}</p>
      <p>{{ oScore }}</p>
    </div>
  </footer>
</div>

@if (showResultModal) {
  <div class="overlay" (click)="nextRound()">
    <section class="modal-card" (click)="$event.stopPropagation()">
      <p class="modal-subtitle">
        {{ roundWinner === "Tie" ? "NO ONE WINS" : "PLAYER WINS" }}
      </p>
      <h2 class="modal-title" [ngClass]="winnerClass">{{ winnerLabel }}</h2>

      <div class="modal-actions">
        <button class="btn btn-secondary" (click)="quitGame()">QUIT</button>
        <button class="btn btn-primary" (click)="nextRound()">
          NEXT ROUND
        </button>
      </div>
    </section>
  </div>
}

@if (showRestartModal) {
  <div class="overlay" (click)="closeRestartModal()">
    <section class="modal-card" (click)="$event.stopPropagation()">
      <h2 class="modal-title restart-title">RESTART GAME?</h2>

      <div class="modal-actions">
        <button class="btn btn-secondary" (click)="closeRestartModal()">
          NO, CANCEL
        </button>
        <button class="btn btn-primary" (click)="confirmRestart()">
          YES, RESTART
        </button>
      </div>
    </section>
  </div>
}
